/*------- Fonts ---------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.woff') format("woff");
    src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format("truetype");
}
/*---------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    width: 1160px;
    margin: auto;
    
}

header, footer {
    background-color: #17abb3;
    color: #ffffff;
}

/*------------ header --------------*/

.en--tete__photo--profil {
    width: 125px;
    height: 125px;
    position: relative;
    right: 100px;

}

.en--tete__photo--profil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #ffffff;
}

.en--tete__photo--profil img:hover {
    cursor: zoom-in;
}

.en--tete {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.en--tete__information {
    text-align: center;
    margin-top: 1em;
}

.en--tete__coordonnees {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    
} 

.en--tete__nom {
    margin-bottom: 0px;
    font-family: "Lato";
    font-size: 3em;
    cursor: default;
}

.en--tete__poste {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: "Lato";
    font-size: 2em;
    cursor: default;
}

.coordonnees__item--1, .coordonnees__item--2  {
    font-family: "Raleway";
}

.coordonnees__item--1 {
    margin-top: 4px;
    margin-bottom: 0px;
}

.coordonnees__item--2 {
    margin-top: 8px;
    margin-bottom: 32px;
}

.coordonnees__lien {
    color: white;
    text-decoration: none;
    margin-left: 0.25em;
}
.coordonnees__icon--voiture {
    margin-left: 9px;
    cursor: default;
}

/*-----------    Main ---------------*/
/*------ Partie Gauche ---------------*/
.contenu--principal {
    display: flex;
}

.competences {
    flex: 1;
    padding: 2em;
    background-color: rgba(227, 227, 227, 0.2);
}

.competences--titre {
    font-family: "Lato";
    font-weight: 400;
    color:#17abb3;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 0.25em;
}

.competences--logiciels, .competences--langues, .competences--qualites, 
.competences--hobbies {
    padding-bottom: 1em;;
}

.logiciel--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    font-family: "Lato";
    font-weight: bold;
}

.etoiles {
    color: #17abb3;
    font-size: 0.85em;
}

.etoiles i {
    padding-left: 0.25em;
}

.langues--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    font-family: "Lato";
    font-weight: bold;
}

.langues--niveau {
    font-weight: initial;
}

 .qualites--list {
    padding-left: 1em;
    font-family: "Lato";
    list-style: none;
} 

 .qualites--items::before {
    content: "■";
    color:#17abb3;
    position: relative;
    bottom: 2px;
    right: 15px;
} 

.hobbies--list {
    padding-left: 1em;
    font-family: "Lato";
    list-style: none;
}

.hobbies--items::before {
    content: "■";
    color:#17abb3;
    position: relative;
    bottom: 2px;
    right: 15px;
}

/*----- Partie Droite ---------*/


.parcours {
    flex: 3;
    background-color: #ffffff;
    padding: 2em;
}

.parcours__titre {
    font-family: "Lato";
    font-weight: 400;
    color:#17abb3;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 0.25em;
}

.parcours__paragraphe, .parcours__paragraphe--2 {
    margin-bottom: 0;
    font-family: "Raleway";
    font-size: 0.9em;
    text-align: justify;
}

.parcours__paragraphe--2 {
    margin-top:0;
    
}

.parcours h3 {
    font-family: "Lato";
    font-weight: bold;
    font-size: 1em;
    margin: 0;
}

.parcours h4 {
    margin: 0;
    font-family: "Lato";
    font-style: oblique;
    font-weight: lighter;
    font-size: 0.85em;
}

.parcours__duree {
    color:#17abb3;
    font-family: "Raleway";
}

.parcours__bloc {
    margin-bottom: 1em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}

.parcours__bloc:hover {
    cursor: default;
    border-left: 5px solid #17abb3;
    background-color: #e3e3e3;
    padding: 0.5em;
    
}

/*---------- Footer ----------------*/

.pied--de--page__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pied--de--page__icon {
    padding-top: 1em;
    padding-bottom: 0.75em;
}

.pied--de--page__icon i {
    font-size: 1.5em;
    padding-left: 0.5em;
    color: #ffffff;
}

.pied--de--page__icon i:hover {
    color: rgba(255, 255, 255, 0.8);
}

.pied--de--page__maj {
    font-family: "Lato";
    font-style: italic;
    padding-bottom: 1em;
    
}